{% extends '@ShopsysFramework/Admin/Content/Customer/list.html.twig' %}

{% block title %}- {{ 'Company overview'|trans }}{% endblock %}
{% block h1 %}{{ 'Company overview'|trans }}{% endblock %}

{% block btn %}
    <a href="{{ url('admin_customer_new') }}" class="btn btn--primary btn--plus wrap-bar__btn">
        <i class="btn__icon">+</i>
        {{ 'Create new company'|trans }}
    </a>
{% endblock %}
